.App {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.drum-container {
  width: 300px;
  color: #091f29;
  min-width: 300px;
  font-weight: bold;
}

#drum-machine {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  user-select: none;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  background-color: #ffc107;
  box-shadow: 5px 5px 10px 4px #00000082;
}

.App-title {
  font-size: 1.5em;
}

.controllers {
  margin: 10px;
  padding: 10px;
  font-weight: bold;
}

.drum-pad {
  width: 85px;
  margin: 5px;
  height: 80px;
  cursor: pointer;
  border-radius: 7px;
  position: relative;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  background-color: #673ab7;
  box-shadow: 4px 4px 4px 0px #000000d6;
}

.drum-pad.active {
  top: 2px;
  box-shadow: 3px 3px 4px 0px #000000d6;
}

.drum-pad.power.active {
  top: 2px;
  background-color: #2196f3;
  box-shadow: 3px 3px 4px 0px #000000d6;
}

#display {
  width: 150px;
  margin: 15px;
  padding: 15px;
  background-color: #673ab7;
}

.switch-container {
  margin: 15px;
  height: 45px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.switch-text {
  font-size: 15px;
  color: #091f29;
  font-weight: bold;
  margin-bottom: 3px;
  font-stretch: condensed;
}

.switch {
  width: 50px;
  height: 70%;
  padding: 2px;
  display: flex;
  cursor: pointer;
  border-radius: 2px;
  align-items: center;
  box-sizing: border-box;
  background-color: black;
  justify-content: flex-start;
}

.switch-button {
  width: 45%;
  height: 100%;
  border-radius: 2px;
  background-color: #8f50ff;
}

.switch.on {
  justify-content: flex-end;
}

.range-slider {
  width: 100%;
  margin: 20px auto;
}

.range {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10px;
  outline: none;
  border-radius: 5px;
  background: #673ab7;
  -webkit-appearance: none;
}
.range::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  background: darkblue;
  -webkit-appearance: none;
  transition: background 0.15s ease-in-out;
}
.range.power::-webkit-slider-thumb:hover {
  background: #00005f;
}
.range::-moz-range-thumb {
  border: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  background: #2196f3;
  transition: background 0.15s ease-in-out;
}
.range.power::-moz-range-thumb:hover {
  background: #00005f;
}
.range.power:active::-moz-range-thumb {
  background: #00005f;
}
.range.power:active::-webkit-slider-thumb {
  background: #00005f;
}
.range.power:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #00005f;
}

::-moz-range-track {
  border: 0;
  background: #673ab7;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}
